<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ user.username }}'s Profile | BrainMatch</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body class="bg-[#010012] text-neutral-200 font-sans">
  <!-- NAVBAR SIEMPRE FUERA DEL MAIN -->
  <header class="fixed top-0 w-full z-50 bg-[#010012]/80 backdrop-blur border-b border-purple-700/40 shadow-lg">
    <div class="flex justify-between items-center px-6 py-4">
      <h1 class="text-3xl font-bold font-['Bebas_Neue'] text-white">MiNDMATCH</h1>
      <nav class="flex gap-6 text-sm">
        <a href="{% url 'home' %}"href="#" class="hover:text-purple-400 transition">Home</a>
        <a href="#" class="hover:text-purple-400 transition">About</a>
        <a href="#" class="hover:text-purple-400 transition">Questions</a>
        <a href="{% url 'user_profile' %}" class="rounded-full bg-gradient-to-br from-purple-600 to-pink-500 w-10 h-10 flex items-center justify-center font-bold text-white">C</a>
      </nav>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <main class="pt-28 px-6 pb-10">
    <div class="max-w-5xl mx-auto flex flex-col items-center gap-5">

      <!-- USER INFO WRAPPER (todo centrado) -->
      <div class="w-xl flex flex-col md:flex-row md:items-start md:justify-center gap-6">
        <!-- Texto usuario -->
        <div class="flex-1 text-center  md:text-left">
          <h1 class="text-6xl font-bold">{{ user.username }}</h1>
          <div class="mt-2 flex flex-wrap justify-center md:justify-start gap-2 text-sm font-semibold">
            <span class="text-[#41D1FF]">Backend</span>
            <span class="text-[#41D1FF]">Developer</span>
            <span class="text-[#41D1FF]">{{ user.get_level_display|default:"Not set" }}</span>
          </div>
          <p class="mt-4 text-sm text-neutral-300 max-w-xl mx-auto md:mx-0">
            {{ user.bio|default:"No biography yet." }}
          </p>

          <!-- Skills -->
          <div class="mt-4 flex flex-wrap justify-center md:justify-start gap-2">
            {% for skill in user.skills.all %}
              <span class="px-4 py-1 bg-gradient-to-r from-purple-500 to-pink-500  hover:from-blue-500 hover:to-green-500 text-white rounded-full text-xs font-medium">
                {{ skill.name|upper }}
              </span>
            {% empty %}
              <span class="text-neutral-400 text-sm">No skills added yet.</span>
            {% endfor %}
          </div>
        </div>

        <!-- Avatar + stats -->
        <div class=" flex flex-col items-center gap-4 flex flex-col items-center gap-4">
          <div class="w-32 h-32 rounded-full bg-gradient-to-br from-yellow-300 via-pink-400 to-purple-600  hover:from-blue-500 hover:via-green-300 hover:to-green-500 flex items-center justify-center text-4xl font-bold text-white">
            {{ user.username|slice:":1"|upper }}
          </div>
          <div class="flex">
          <a  href="{% url 'user_friends' user.username %}"  class="bg-gradient-to-r from-blue-500 to-green-500  hover:from-purple-500 hover:to-pink-500 text-white m-2 px-4 py-1 rounded-full text-sm font-semibold transition">
            Contacts
          </a>
          {% if request.user != user %}
            {% if user in request.user.friends.all %}
              <form method="post" action="{% url 'unfollow_user' user.username %}">
                {% csrf_token %}
                <button class="bg-red-500 p-2 rounded">Unfollow</button>
              </form>
            {% else %}
              <form method="post" action="{% url 'follow_user' user.username %}">
                {% csrf_token %}
                <button class="bg-green-500 p-2 rounded text-sm ">Follow</button>
              </form>
            {% endif %}
          {% endif %}
          </div>

          <div class="text-center text-sm mt-2">
            <p class="text-neutral-400">🇪🇸 Spain</p>
            <p class="text-neutral-400">English/Spanish</p>
            <p><span class="text-blue-400 font-bold">300</span> contacts</p>
            <p><span class="text-pink-400 font-bold">+10.000</span> aura ✨</p>
          </div>
        </div>
      </div>


      <!-- LINKS -->
      <div class="flex justify-center gap-8 text-2xl text-white">
      <div>
        <ul class="flex flex-wrap gap-2 mt-2 text-sm">
          {% if user.github %}
            <a href="{{ user.github }}" target="_blank"><li class="fab fa-github text-2xl lg:mr-20"></li></a>
          {% endif %}
          {% if user.linkedin %}
            <a href="{{ user.linkedin }}" target="_blank"><li  class="fab fa-linkedin text-2xl"></li></li></a>
          {% endif %}
          {% if user.twitter %}
            <li class="fab fa-x-twitter text-2xl"><a href="{{ user.twitter }}" target="_blank">Twitter</a></li>
          {% endif %}
          {% if user.discord %}
            <li class="fab fa-discord text-2xl">{{ user.discord }}</li>
          {% endif %}
          {% if not user.github and not user.linkedin and not user.twitter and not user.discord %}
            <li class="text-gray-400">No links added yet.</li>
          {% endif %}
        </ul>
      </div>

      </div>
      <!--TABS-->
       <main class="flex-1 w-full p-6">
        <!-- Tabs -->
        <div class="flex gap-4 font-semibold ">
          <button id="tab-ideas" class="tab-btn text-white border-b-2 border-white">Ideas</button>
          <button id="tab-projects" class="tab-btn text-neutral-400 hover:text-white">Projects</button>
          <button id="tab-chat" class="tab-btn text-neutral-400 hover:text-white">Chats</button>
          <button id="tab-workarea" class="tab-btn text-neutral-400 hover:text-white">Working Area</button>
        </div>
      <!-- FEED SCROLL -->
        <main id="feed-container" class="h-[75vh]  overflow-y-auto space-y-4 pr-2">

          <!-- IDEAS -->
          <div id="feed-ideas">
            {% for idea in user.ideas.all|slice:":5" %}
            <div class="p-4 m-5 border border-purple-700 rounded shadow-[0_0_9px_1px_rgba(192,132,252,0.6)]">
              <div class="flex">
              <a href="{% url 'idea_detail' idea.id %}"
                class="text-white hover:text-violet-500 text-2xl font-bold block">{{ idea.title }}</a>
              <div class="flex gap-2 items-center">
                  <form method="post" action="{% url 'idea_delete' idea.id %}" onsubmit="return confirm('Delete this idea?');">
                    {% csrf_token %}
                    <button type="submit" class="text-red-500 hover:text-white transition font-bold ml-4">Delete</button>
                  </form>
              </div>
              </div>
              <p class="mt-2 line-clamp-3">{{ idea.description }}</p>
              <p class="text-sky-300 mt-2">Status > {{ idea.status }} / Difficulty > {{ idea.difficulty }}</p>
              <p class="mt-2 text-pink-400">❤️ {{ idea.likes.count }} · {{ idea.comments.count }} comments</p>
              <div class="mt-2 flex flex-wrap gap-2 line-clamp-3">
                {% for skill in idea.skills_required.all %}
                <code class="bg-gradient-to-r from-purple-500 to-pink-500  hover:from-blue-500 hover:to-green-500 text-white px-3 py-1 rounded-full text-sm transition">{{ skill.name }}</code>
                {% empty %}
                <span class="text-green-600 italic">no skills specified</span>
                {% endfor %}
              </div>
              <p class="mt-2 text-xs text-gray-400">{{ idea.created_at }}</p>
            </div>
            {% empty %}
            <p class="text-pink-400 italic mt-4">😔 No hay ideas creadas, crea una! Las ideas te ayudarán a conectar con otras personas y a formar equipo</p>
            <a href="{% url 'create_idea' %}" class="text-blue-400 underline">Subir nueva idea</a>
            {% endfor %}
          </div>

          <!-- PROYECTOS -->
          <div id="feed-projects" class="hidden">
            {% for project in projects %}
            <div class="bg-[#130D36] p-4 border border-purple-700 rounded shadow mb-2">
              <a href="{% url 'project_detail' project.id %}"
                class="text-purple-400 hover:underline font-semibold">{{ project.title }}</a>
              <span class="text-sm text-green-400 block">{{ project.get_availability_display }}</span>
            </div>
            {% empty %}
            <p class="text-gray-500">No projects created yet.</p>
            <a href="{% url 'create_project' %}" class="text-blue-400 underline">Subir nuevo proyecto</a>
            {% endfor %}
          </div>
        </main>
      </main>

      <!-- Footer -->
      <div class="text-pink-400 text-sm flex items-center gap-2">
        🧠 brainmatch/user.settings.username
      </div>
    </div>
  </main>
  <!-- SCRIPTS para tabs -->
  <script>
    const tabs = ["ideas", "projects"];
    tabs.forEach(tab => {
      document.getElementById("tab-" + tab).addEventListener("click", () => {
        tabs.forEach(t => {
          document.getElementById("feed-" + t).classList.add("hidden");
          document.getElementById("tab-" + t).classList.remove("border-b-2", "border-white", "text-white");
          document.getElementById("tab-" + t).classList.add("text-neutral-400");
        });
        document.getElementById("feed-" + tab).classList.remove("hidden");
        document.getElementById("tab-" + tab).classList.add("border-b-2", "border-white", "text-white");
      });
    });
    </script>
</body>

</html>
